<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb3">Exclusive Products</h2>

                    <ul class="list-unstyled d-flex justify-content-center">
                        <li><a href="#" class="m-4 text-decoration-none text-danger fw-semibold ">New Arrival</a></li>
                        <li><a href="#" class="m-4 text-decoration-none text-danger fw-semibold ">Best Sellers</a></li>
                        <li><a href="#" class="m-4 text-decoration-none text-danger fw-semibold ">Featured</a></li>
                        <li><a href="#" class="m-4 text-decoration-none text-danger fw-semibold ">Special Offer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="box-shadow">
                            <div class="card">
                                <img src="/product img/blueDress.webp"  class="img-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
